.cont {
  background-color: black;
  padding: 24px;
  align-items: center;
  justify-content: space-between;
}

.main {
  align-items: center;
  justify-content: space-between;
}

.main > a > div {
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.main > a > div > p {
  font-size: 18px;
  color: white;
  &:hover {
    cursor: pointer;
    color: #bcd8cf;
  }
}

.icon {
  font-size: 20px;
  color: #ffffff;
}

.cont > div:nth-child(3) {
  font-size: 20px;
  color: #ffffff;
}
